{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Single Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" type="text/css" href="{% static 'styles/product_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">

</head>

<body>

<div class="super_container">
	
	
		
	

	<!-- Single Product -->

	<div class="single_product" id="productapp">

        <ul class="standard_dropdown main_nav_dropdown">
            <li><a href="{% url 'frontpage' %}">Почетна<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="{% url 'myaccount' %}">Профил<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="{% url 'cart'  %}">Кошничка<i class="fas fa-chevron-down"></i></a></li>
            {% if product.category.parent %}
            <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}<i class="fas fa-chevron-down"></i></a></li>
                {% endif %}
            <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}<i class="fas fa-chevron-down"></i></a></li>
            <li class="is-active"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}<i class="fas fa-chevron-down"></i></a></li>
        </ul>
		<div class="container">
			<div class="row">

				<!-- Images -->
                {% if product.images.all %}
                
				<div class="col-lg-2 order-lg-1 order-2 " >
                    
					<ul class="image_list" v-for="image in images">
						<li> <img :src="image.thumbnail" @click="changeMainImage(image.image)" alt=""></li>
						
					</ul>
				</div>
                {% endif %}
               

				<!-- Selected Image -->{% if product.thumbnail.url %}
				<div class="col-lg-5 order-lg-2 order-1">

					<div class="image_selected"><img src="{{ product.thumbnail.url }}" alt=""></div>
                    {% endif %}
				</div>

				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						<div class="product_category">Laptops</div>
						<div class="product_name">{{ product.title }}</div>
                        {% if product.description %}
						
						<div class="product_text"><p>{{ product.description }}</p></div>
                        {% endif %}
						<div class="order_info d-flex flex-row">
							<form action="#">
								<div class="clearfix" style="z-index: 1000;">

									<!-- Product Quantity -->
									

									<!-- Product Color -->
								

								</div>

								<div class="product_price">{{ product.price }} Денари</div>
								<div class="button_container">
                                    {% if product.in_cart %}
                                    <p>Производот е додаден во кошничка</p>
                                        {% else %}
                                        {% if product.num_available > 0 %}
                                    <button @click="addToCart({{ product.id }})" class="button cart_button">Додај во кошничка</button>
                                    
                                    {% else %}
                                        <p>Производот не е на залиха</p>
                                    {% endif %}
                                {% endif %}
                                <article class="message is-success" v-if="showMessage">
                                    <div class="message-body">
                                        Производот е додаден во вашата кошнишка!
                                    </div>
                                </article>
									<div class="product_fav"><i class="fas fa-heart"></i></div>
								</div>
								
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>



        <div class="container">
			<div class="row">

				<!-- Images -->
                {% for variant in product.variants.all %}
                
				<div class="col-lg-2 order-lg-1 order-2 " ></div>

                
                {% if variant.thumbnail.url %}

				
				<div class="col-lg-5 order-lg-2 order-1">

					<div class="image_selected"><img src="{{ variant.thumbnail.url }}" alt=""></div>
                    {% endif %}
				</div>

				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						
						<div class="product_name">{{ variant.title }}</div>

                        {% if product.description %}
						
						<div class="product_text"><p>{{ product.description }}</p></div>
                        {% endif %}
                       
						
					

								</div>

								<div class="product_price">{{ variant.price }}</div>
								<div class="button_container">
                                    {% if product.in_cart %}
                                    <p>Производот е додаден во кошничка</p>
                                        {% else %}
                                        {% if product.num_available > 0 %}
                                    <button @click="addToCart({{ variant.id }})" class="button cart_button">Додај во кошничка</button>
                                    
                                    {% else %}
                                        <p>Производот не е на залиха</p>
                                    {% endif %}
                                {% endif %}
                                <article class="message is-success" v-if="showMessage">
                                    <div class="message-body">
                                        Производот е додаден во вашата кошнишка!
                                    </div>
                                </article>
									<div class="product_fav"><i class="fas fa-heart"></i></div>
								</div>
								
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
    {% endfor %}

	
	</div>

	


</body>

</html>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        store: store,
        data () {
            return {
                showMessage: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image;
            },
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': false,
                    'quantity': 1
                };
                    
                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{% endblock %}